/* Main Page CSS */

:root {
    --bg-main: #FFF;
    --bg-sub: #DDD;
    --modal-wrap-bg: rgba(0, 0, 0, 0.5);
    --text-main: #222;
    --text-sub: #000;
    --table-bg: #FFF;
    --table-head-bg: #CCC;
    --table-body-bg: #FFF;
    --table-head-text: #000;
    --table-body-text: #222;
    --table-borders: #000;
    --app-border: #222;
    --app-body: #DDD;
    --app-inner-shadow: #444;
    --app-outer-shadow: #000;
}

body {
    background-color: var(--bg-main);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    width: 275px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-main);
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

#ModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#ModalContent {
    max-width: 100%;
    max-height: 100%;
    min-width: 150px;
    min-height: 100px;
    background-color: var(--bg-sub);
    color: var(--text-sub);
    padding: 10px;
    overflow: auto;
}

button {
    cursor: pointer !important;
    display:block;
    margin: 2px auto;
}

table, tr, th, td {
    border: 1px solid var(--table-borders);
    padding: 5px;
    background-color: var(--table-bg);
    color: var(--table-body-text);
}

table {
    table-layout: fixed;
    min-width: 200px;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    background-color: var(--table-head-bg);
    color: var(--table-head-text);
}

.embed {
    width: 400px;
    height: 250px;
    margin: 2px;
}

.add-row {
    width: 100%;
}

/* APP */

#AppWrapper {
    border: 1px solid var(--app-border);
    border-radius: 4px;
    padding: 5px;
    box-shadow: inset 0 0 5px var(--app-inner-shadow);
    background-color: var(--app-body);
}

.input-wrapper label, .input-wrapper button, .input-wrapper input {
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper {
    margin: 2px;
}

.input-wrapper button:hover {
    box-shadow: inset 0 0 3px 1px black;
}

.flex-input-wrapper {
    display: flex;
    flex-direction: row;
}

.flex-input-wrapper .input-wrapper {
    flex: 50%;
}

#MainTable {
    overflow: auto;
    max-width: 275px;
    max-height: 250px;
    width: 100%;
}

/* TABLE INTERFACE */

#UI_TABLE {
    width: 100%;
    table-layout: initial;
}

#UI_TABLE td {
    vertical-align: middle;
    padding: 4px;
    text-align: center;
}

#UI_TABLE td input {
    width: calc(100% - 10px);
}

#UI_TABLE .button-wrapper {
    padding: 0;
}

#UI_TABLE button {
    font-size: 20px;
    font-weight: bold;
}

#UI_TABLE button:hover {
    box-shadow: inset 0 0 3px 1px black;
}

#UI_TABLE button.add, #UI_TABLE button.delete, button.reset {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 3px;
    background-color: #CCC;
    height: 100%;
    width: 100%;
    min-width: 15px;
    min-height: 15px;
}

#UI_TABLE button.add {
    padding: 0;
}

button.reset:hover {
    background-color: #F95;
}

#UI_TABLE button.add:hover {
    background-color: #ACF;
}

#UI_TABLE button.delete:hover {
    background-color: #FAA;
    --bg-color: #F00;
}

#UI_TABLE td.delete {
    height: 10px;
}

#TextInput {
    min-width: 400px;
    min-height: 250px;
}

#UI_TABLE .first {
    width: 30px;
}

.hidden{
    visibility: hidden;
}